 html,
body {
	margin:0;
	padding:0;
	height:100%;
	 background:#fff; 
	min-height:100%;
}
 h1{
        color: purple;
        text-align: center;
        font: bold italic 200% Garamond, Comic Sans MS, fantasy;
        background-color: #000222;
        
    }.mark{
        color: red;
        font-size: medium;
         border-color: red;
                
    }.title{
        background-color: #000222;
		color:white;
        
    }
        
    div #submits{
         background-color: #000222;
        -webkit-border-radius: 5px;
         color: white;
         border-radius: 5px;
               
    }
	#wrapper{
		 
		width:50%;
		margin:auto;
		padding:0;
		 -webkit-border-radius: 5px;
		border-radius:50px;
               
    }
	input[type=text],
	input[type=number],
	input[type=email],
	input[type=password],
	input[type=tel],
	select{
		color: #777;
		padding-left: 10px;
		margin: 10px;
		margin-top: 0px;
		margin-left: 25px;
		width: 290px;
		height: 35px;
		border: 1px solid #c7d0d2;
		border-radius: 2px;
		box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #f5f7f8;
		-webkit-transition: all .4s ease;
		-moz-transition: all .4s ease;
		transition: all .4s ease;
	}
	label{
		font: bold 12px sans-serif;
	}
	
	fieldset{
   		border: 1px solid #c7d0d2;
		border-radius: 3px;
		
}
	input[type=submit]{
	
	-moz-transition:0.5s;
    -o-transition:0.5s;
    -webkit-transition:0.5s;
    background-color:#000000;
    border:1px solid #000000;
    color:#FFF;
   margin-top:13px;
   margin-left:10px;
    font-size:16px;
    line-height:20px;
    padding:5px 20px;
    text-decoration:none;
    transition:0.5s;
	
}
input[type=submit]:hover{
	background:#8CCA33;
    border-color:#000000;
    color:#fff;
}

input[type=password]{
		color: #777;
		padding-left: 10px;
		margin: 10px;
		margin-top: 0px;
		margin-left: 25px;
		width: 290px;
		height: 35px;
		border: 1px solid #c7d0d2;
		border-radius: 2px;
		box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #f5f7f8;
		-webkit-transition: all .4s ease;
		-moz-transition: all .4s ease;
		transition: all .4s ease;
}


